<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prestecs | Biblioteca Mari Carmen Brito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="{% static 'js/header.js' %}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J500BVGF02');
    </script>
  </head>

  <body id="admin_prestecs" class="general_dashboard">
    <header class="headerWithUser">
      <div class="user-info">
        <div class="dropdown-content">
          <p>El teu compte</p>
          <a href="{% url 'admin_profile' %}">Editar Perfil</a>
          <a href="{% url 'logout' %}" class="ALogOut">Tancar sessió</a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard/general">
                  <span data-feather="home"></span>
                  Panell <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'importacio' %}"> Importacio Usuaris </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'mostrar_usuaris' %}">
                  <i class="fa-solid fa-user"></i>
                  Usuaris
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin_prestecs' %}">
                  Prestecs
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <!-- <h1 class="h2">Panell</h1> -->
            <h2>Prestecs</h2>

          </div>

          <div class="pagination">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Anterior</a>&nbsp;&nbsp;
            {% endif %}
            
            <span id="span_pagination_adminprestecs" class="current">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            
            {% if page_obj.has_next %}
            &nbsp;&nbsp;<a href="?page={{ page_obj.next_page_number }}">Siguiente &rsaquo;</a>
            {% endif %}
          </div>

          <div>
            <table class="table">
              <thead>
                <tr>
                  <th>Usuari</th>
                  <th>Material</th>
                  <th>Data de Prestec</th>
                  <th>Data de Devolucio</th>
                  <th>Data Limit</th>
                </tr>
              </thead>
              <tbody>
                {% for prestec in page_obj %}
                    <tr>
                      <td>{{ prestec.usuari.nom }} {{ prestec.usuari.cognoms }}</td>
                      <td>{{ prestec.item_cataleg.titol }}</td>
                      <td>{{ prestec.data_prestec }}</td>
                      <td>{{ prestec.data_retorn }}</td>
                      <td>{{ prestec.data_limit }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!-- <div id="import-users" class="content" style="display: none;">
                    <h2>Importacio Usuaris</h2>
                </div> -->

          <!-- Contenido principal -->
          <canvas
            class="my-4 w-100"
            id="myChart"
            width="900"
            height="600"
          ></canvas>
        </main>
      </div>
    </div>
  </body>
</html>
