<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="general_dashboard">
    <header class="header">
        {% if user.is_authenticated %}
            <div class="user-info">
                <img id="user-img" src="{% static 'img/user_header.png' %}" alt="User Picture">
                <div class="dropdown-content">
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </div>
        {% endif %}
    </header>
    <div class="container">
        <form action="#" class="user-form">
            <h2 id="h2admin">El teu compte de administrador:</h2>
            <div class="input-group">
                <div class="half-width">
                    <label for="nom">Nom:</label>
                    <input type="text" id="nom" name="nom" required />
                </div>
                <div class="half-width">
                    <label for="cognoms" id="label_cognoms">Cognoms:</label>
                    <input type="text" id="cognoms" name="cognoms" required />
                </div>
            </div>
            <div class="input-group">
                <label for="correu">Correu electrònic:</label>
                <input type="email" id="correu" name="correu" required />
            </div>
            <div class="button-container">
                <button class="left-button">Actualitza les dades</button>
                <a href="#" class="right-button">Canvia la teva contrassenya</a>
            </div>
        </form>
    </div>
</body>

</html>