<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panell Bibliotecari</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="{% static 'js/header.js' %}"></script>

    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-J500BVGF02');
  </script>
  </head>

  <body class="general_dashboard">
    <header class="headerWithUser">
      <h1 class="h2">Panell Bibliotecari</h1>
      <div class="input-wrapper">
        <form
          action="{% url 'search_results' %}"
          method="get"
          class="formCatalogo"
        >
          <div class="div1-leftblock">
            <input
              type="text"
              id="searchInput"
              name="query"
              placeholder="Cerca..."
            />
            <button type="submit" class="searchButton">Buscar</button>
          </div>

          <div class="div2-leftblock">
            <label for="disponiblesCheckbox" id="disponibleslabel"
              >Només disponibles</label
            >
            <input
              type="checkbox"
              id="disponiblesCheckbox"
              class="checkCatalogo"
              name="disponibles"
              value="1"
            />
          </div>
        </form>
      </div>
      <div class="user-info">
        <div class="dropdown-content">
          <p>El teu compte</p>
          <a href="{% url 'admin_profile' %}">Editar Perfil</a>
          <a href="{% url 'logout' %}" class="ALogOut">Tancar sessió</a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
        <main role="main" class="">
          <div class="mainAdmin">
            <div class="parent ">
              <div class="div1 maginPanell">
                <a class="button-893" href="{% url 'landing_page' %}">
                  Inici
                </a>
              </div>
              <div class="div2 maginPanell">
                <a class="button-89" href="{% url 'importacion' %}">
                  Importacio Usuaris
                </a>
              </div>
              <div class="div3">
                <a class="button-892" href="{% url 'mostrar_usuaris' %}">
                  Usuaris
                </a>
              </div>
              <div class="div4">
                <a class="button-891" href="{% url 'admin_prestecs' %}">
                  Prestecs
                </a>
              </div>  
          </div>
          </div>
          

          <canvas
            class="my-4 w-100"
            id="myChart"
            width="900"
            height="600"
          ></canvas>
        </main>
        <script  type="text/javascript">
          $(document).ready(function () {
            $("#searchInput").autocomplete({
              source: "{% url 'autocomplete' %}", 
              minLength: 3, 
              select: function (event, ui) {
                $("#searchInput").val(ui.item.value); 
                return false;
              },
            });
          });
        </script>
  </body>
</html>
