<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J500BVGF02');
    </script>
  </head>
  <body class="change-pass-dashboard">
    <header class="headerNoAdmin">
      <span>
        <button id="toggle-general-menu" style="color: white !important;">
          <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor !important;"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 2H1.75H14.25H15V3.5H14.25H1.75H1V2ZM1 12.5H1.75H14.25H15V14H14.25H1.75H1V12.5ZM1.75 7.25H1V8.75H1.75H14.25H15V7.25H14.25H1.75Z" fill="currentColor"></path></svg>
        </button>
        <a class="header-title" href="/">Biblioteca Mari <br />Carmen Brito</a>
        <nav>
            <ul>
                <li><a class="linkheader" href="{% url 'landing_page' %}">Inici</a></li>
                {% if user.is_authenticated %}
                <li><a class="linkheader" href="/dashboard/">Panell</a></li>
                {% endif %}
            </ul>
        </nav>
      </span>

      <div class="input-wrapper">
        <form
          action="{% url 'search_results' %}"
          method="get"
          class="formCatalogo"
        >
          <div class="div1-leftblock">
            <input
              type="text"
              id="searchInput"
              name="query"
              placeholder="Cerca..."
            />
            <button type="submit" class="searchButton">Buscar</button>
          </div>

          <div class="div2-leftblock">
            <label for="disponiblesCheckbox" id="disponibleslabel"
              >Només disponibles <input
              type="checkbox"
              id="disponiblesCheckbox"
              class="checkCatalogo"
              name="disponibles"
              value="1"
            /></label
            >
          </div>
        </form>
      </div>
      <div class="user-info">
        <div class="dropdown-content">
          <p>El teu compte</p>
          <a href="{% url 'general_profile' %}">Editar Perfil</a>
          <a href="{% url 'logout' %}" class="ALogOut">Tancar sessió</a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
    <div class="change-pass-container">
      <form
        method="post"
        action="{% url 'cambiar_contrasenya' %}"
        id="change-pass-form"
        class="change-pass-user-form"
      >
        {% csrf_token %}
        <h2>Canvia la teva contrassenya:</h2>
        <div class="change-pass-input-group">
          <label for="current_password">Contrasenya actual:</label>
          <input
            type="password"
            id="current_password"
            name="current_password"
            required
          />
        </div>
        <div class="change-pass-input-group">
          <label for="new_password">Contrasenya nova:</label>
          <input
            type="password"
            id="new_password"
            name="new_password"
            required
          />
        </div>
        <div class="change-pass-input-group">
          <label for="confirm_password">Repeteix la nova contrasenya:</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>
        <button type="submit" class="change-pass-left-button">
          Actualitza la contrasenya
        </button>
      </form>
    </div>
    <script src="{% static 'js/handleLogCreation.js' %}"></script>
    <script src="{% static 'js/change_pass.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script>
      const testPasswordOk = (password) => {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/.test(password)
      }
      
      addEventListener('load', () => {
        const changePassForm = document.getElementById('change-pass-form');
        changePassForm.addEventListener('submit', (ev) => {
          ev.preventDefault();
          const newPassword = document.getElementById('new_password').value;
          const confirmPass = document.getElementById('confirm_password').value;

          if (!testPasswordOk(newPassword)) {
            Toastify({
              text: 'La nova contrasenya no és vàlida. Ha de contenir almenys: 1 lletra minúscula, 1 lletra majúscula, 1 número, 1 caràcter especial i tenir una longitud de 8 a 16 caràcters.',
              gravity: 'top',
              position: 'center',
              close: true,
              // Que no se cierre solo
              duration: -1,
              stopOnFocus: true,
              style: {
                  'background': '#CE1B1B',
                  'color': 'white',
              }
            }).showToast();
            return false
          }

          return true
        })
      })
    </script>

    {% load static %}
    <script src="{% static 'js/handleMobileMenus.js' %}"></script>

    <section id="mobile-general-menu" class="hidden">
      <button id="close-mobile-general-menu">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
      </button>
      <nav>
        <ul>
          <li><a href="{% url 'landing_page' %}">Inici</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}">Panell</a></li>
          {% endif %}
          <li>
            <div class="input-wrapper">
              <form
                action="{% url 'search_results' %}"
                method="get"
                class="formCatalogo"
              >
                <div class="div1-leftblock">
                  <input
                    type="text"
                    id="searchInput"
                    name="query"
                    placeholder="Cerca..."
                  />
                  <button type="submit" class="searchButton">Buscar</button>
                </div>
      
                <div class="div2-leftblock">
                  <label for="disponiblesCheckbox" id="disponibleslabel"
                    >Només disponibles <input
                    type="checkbox"
                    id="disponiblesCheckbox"
                    class="checkCatalogo"
                    name="disponibles"
                    value="1"
                  /></label
                  >
                </div>
              </form>
            </div>
          </li>
        </ul>
    </section>
</body>
</html>
