<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J500BVGF02');
    </script>
  </head>
  <body class="change-pass-dashboard">
    <header class="headerNoAdmin">
      <div class="user-info">
        <div class="dropdown-content">
          <p>El teu compte</p>
          <a href="{% url 'logout' %}">Tancar sessió </a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
    <div class="change-pass-container">
      <form
        method="post"
        action="{% url 'cambiar_contrasenya' %}"
        id="change-pass-form"
        class="change-pass-user-form"
      >
        {% csrf_token %}
        <h2>Canvia la teva contrassenya:</h2>
        <div class="change-pass-input-group">
          <label for="current_password">Contrasenya actual:</label>
          <input
            type="password"
            id="current_password"
            name="current_password"
            required
          />
        </div>
        <div class="change-pass-input-group">
          <label for="new_password">Contrasenya nova:</label>
          <input
            type="password"
            id="new_password"
            name="new_password"
            required
          />
        </div>
        <div class="change-pass-input-group">
          <label for="confirm_password">Repeteix la nova contrasenya:</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />
        </div>
        <button type="submit" class="change-pass-left-button">
          Actualitza la contrasenya
        </button>
      </form>
    </div>
    <script src="{% static 'js/handleLogCreation.js' %}"></script>
    <script src="{% static 'js/change_pass.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script>
      const testPasswordOk = (password) => {
        return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/.test(password)
      }
      
      addEventListener('load', () => {
        const changePassForm = document.getElementById('change-pass-form');
        changePassForm.addEventListener('submit', (ev) => {
          ev.preventDefault();
          const newPassword = document.getElementById('new_password').value;
          const confirmPass = document.getElementById('confirm_password').value;

          if (!testPasswordOk(newPassword)) {
            Toastify({
              text: 'La nova contrasenya no és vàlida. Ha de contenir almenys: 1 lletra minúscula, 1 lletra majúscula, 1 número, 1 caràcter especial i tenir una longitud de 8 a 16 caràcters.',
              gravity: 'top',
              position: 'center',
              close: true,
              // Que no se cierre solo
              duration: -1,
              stopOnFocus: true,
              style: {
                  'background': '#CE1B1B',
                  'color': 'white',
              }
            }).showToast();
            return false
          }

          return true
        })
      })
    </script>
</body>
</html>
