<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    {% load static %}
    <script src="{% static 'js/dashboards.js' %}"></script>
  </head>
  <body class="profile">
    <header class="headerNoAdmin">
      <div class="user-info">
        <div class="dropdown-content">
          <p>El teu compte</p>
          <a href="{% url 'logout' %}" class="ALogOut">Tancar sessió</a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
    <div class="container">
      <!-- Agrega el atributo method con el valor "POST" -->
      <form
        action="{% url 'editar_usuari' user_data.id %}"
        class="user-form"
        method="POST"
      >
        <!-- Agrega placeholders para mostrar los valores actuales del usuario -->
        <h2 id="h2admin">El teu compte de administrador:</h2>
        <div class="input-group">
          <div class="half-width">
            <label for="nom">Nom:</label>
            <input
              type="text"
              id="nom"
              name="nom"
              placeholder="{{ user_data.nom }}"
              required
            />
          </div>
          <div class="half-width">
            <label for="cognoms" id="label_cognoms">Cognoms:</label>
            <input
              type="text"
              id="cognoms"
              name="cognoms"
              placeholder="{{ user_data.cognoms }}"
              required
            />
          </div>
        </div>
        <div class="input-group">
          <label for="correu">Correu electrònic:</label>
          <input
            type="email"
            id="correu"
            name="correu"
            placeholder="{{ user_data.email }}"
            required
          />
        </div>
        <div class="input-group">
          <label for="data">Data de Naixement:</label>
          <input
            type="date"
            id="data"
            name="data"
            placeholder="{{ user_data.any_naixement }}"
            required
          />
        </div>

        <div class="input-group">
        <label for="tipus">Tipus:</label>
        <select id="tipus" name="tipus" required>
          <option value="usuari">Usuari</option>
          <option value="admin">Admin</option>
          <option value="super-usuari">Super Usuari</option></select>
        </div>
        
        <!-- Agrega un campo de entrada para el token CSRF -->
        {% csrf_token %}
        <div class="button-container">
          <button class="left-button">Actualitza les dades</button>
        </div>
      </form>
    </div>
    <script src="{% static 'js/handleLogCreation.js' %}"></script>
  </body>
</html>
