<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Perfil | Biblioteca Mari Carmen Brito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script src="{% static 'js/header.js' %}"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J500BVGF02');
    </script>
  </head>

  <body class="profile">
    <header class="headerNoAdmin">
      <a class="linkheader" href="{% url 'general_dashboard' %}">Panell</a>
      <span>
        <button id="toggle-general-menu" style="color: white !important;">
          <svg data-testid="geist-icon" height="16" stroke-linejoin="round" viewBox="0 0 16 16" width="16" style="color: currentcolor !important;"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 2H1.75H14.25H15V3.5H14.25H1.75H1V2ZM1 12.5H1.75H14.25H15V14H14.25H1.75H1V12.5ZM1.75 7.25H1V8.75H1.75H14.25H15V7.25H14.25H1.75Z" fill="currentColor"></path></svg>
        </button>
        <a class="header-title" href="/">Biblioteca Mari <br />Carmen Brito</a>
        <nav>
            <ul>
                <li><a class="linkheader" href="{% url 'landing_page' %}">Inici</a></li>
                {% if user.is_authenticated %}
                <li><a class="linkheader" href="/dashboard/">Panell</a></li>
                {% endif %}
            </ul>
        </nav>
      </span>

      <div class="input-wrapper">
        <form
          action="{% url 'search_results' %}"
          method="get"
          class="formCatalogo"
        >
          <div class="div1-leftblock">
            <input
              type="text"
              id="searchInput"
              name="query"
              placeholder="Cerca..."
            />
            <button type="submit" class="searchButton" id="searchButton">Buscar</button>
          </div>

          <div class="div2-leftblock">
            <label for="disponiblesCheckbox" id="disponibleslabel"
              >Només disponibles <input
              type="checkbox"
              id="disponiblesCheckbox"
              class="checkCatalogo"
              name="disponibles"
              value="1"
            /></label
            >
          </div>
        </form>
      </div>
      <div class="user-info">
        <div class="dropdown-content" id="dropdownContent">
          <p>El teu compte</p>
          <a href="{% url 'general_profile' %}">Editar Perfil</a>
          <a href="{% url 'logout' %}" class="ALogOut">Tancar sessió</a>
        </div>
        <img
          id="user-img"
          src="{% static 'img/user_header.png' %}"
          alt="User Picture"
        />
      </div>
    </header>
    <div class="container">
      <form action="{% url 'actualizar_datos_usuario' %}" class="user-form" method="POST" enctype="multipart/form-data">

        <h2>El teu compte:</h2>
        {% load static %}
        <img class="img_gnrl_prof" src="{{ user_data.imatge_perfil.url }}">
        <input type="file" id="imatge_perfil" name="imatge_perfil" accept=".jpg, .png, .webp">
        <div class="input-group">
          <div class="half-width">
            <label for="nom">Nom:</label>
            </span>
            <input
              type="text"
              id="nom"
              name="nom"
              placeholder="{{ user_data.nom }}"
              required
            />
          </div>
          <div class="half-width">
            <label for="cognoms" id="label_cognoms">Cognoms:</label>
            <input
              type="text"
              id="cognoms"
              name="cognoms"
              placeholder="{{ user_data.cognoms }}"
              required
            />
          </div>
        </div>
        <div class="input-group">
            <label for="correu">Correu electrònic:</label>
            <span id="correu" name="correu" class="email-placeholder" required>{{ user_data.correu }}</span>
          </div>

        {% csrf_token %}
        <div class="button-container">
          <button class="left-button">Actualitza les dades</button>
          <a href="{% url 'change_pass' %}" class="right-button"
            >Canvia la teva contrassenya</a
          >
        </div>
      </form>
    </div>
    
    <script src="{% static 'js/handleLogCreation.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    {% load static %}
    <script src="{% static 'js/dashboards.js' %}"></script>
  </body>
</html>
