<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-block">
            <h2>Biblioteca <br> Mari Carmen</h2>
            <div class="input-group">
                <label for="cerca">Cerca al nostre catàleg:</label>
                <div class="input-wrapper">
                    <input type="text" id="input_cerca" placeholder="Harry Potter: La piedra filosofal">
                    <!-- <img src="../static/img/search.png" class="lupa-icon"> -->
                </div>
            </div>
            <!-- <button class="btnCerca">Cerca</button> -->
        </div>
        <div class="right-block">
            <h2>Inicia sessió:</h2>
            <form>
                <div class="input-group">
                    <label for="username">El teu correu IETI:</label>
                    <input type="email" id="username" name="username" placeholder="Ingresa tu nombre de usuario">
                </div>
                <div class="input-group">
                    <label for="password">La teva contrasenya:</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña">
                </div>
                <button class="btn">Iniciar sessió</button>
            </form>
        </div>
    </div>
</body>
</html>
