<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% csrf_token %}
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/notify.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J500BVGF02"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J500BVGF02');
    </script>
  </head>
  <body class="landing_page">
    <div class="container">
      <div class="left-block">
        <h1>
          Biblioteca <br />
          Mari Carmen Brito
        </h1>
        <form
          action="{% url 'search_results' %}"
          method="get"
          class="formCatalogo"
        >
          <div class="div1-leftblock" style="position: relative;">
            <label for="searchInput">Cerca al nostre catàleg:</label>
            <span>
              <input
                type="text"
                id="searchInput"
                name="query"
                placeholder="Cerca per títol, autor, ISBN..."
              />
              <i class="fa-solid fa-magnifying-glass" style="top: 70%; position: absolute; transform: translateY(-50%); right: 117px; width: 20px;"></i>
              <button type="submit" class="searchButton">Cercar</button>
            </span>
          </div>

          <div class="div2-leftblock">
            <label for="disponiblesCheckbox" id="disponibleslabel">
              Cercar només disponibles
              <input
                type="checkbox"
                id="disponiblesCheckbox"
                class="checkCatalogo"
                name="disponibles"
                value="1"
              />
            </label>
          </div>
        </form>
      </div>

      <div class="right-block">
        <h2>Inicia sessió:</h2>
        <form id="login-form" method="POST">
          {% csrf_token %}
          <label for="email">
            Correu electrònic:
            <input type="email" id="email" name="email" placeholder="elteucorreu@gmail.com" required />
          </label>
          <label for="password">
            Contrasenya:
            <input type="password" id="password" name="password" placeholder="··············" required />
          </label>
          <!-- Mensaje de error, oculto inicialmente -->
          <div class="error-message" style="display: none; color: red">
            Usuari o contrasenya incorrecte.
          </div>
          <span>
            <button type="submit" class="btn login-btn">Iniciar sesión</button>
            <a href="{% url 'forgot_password' %}" style="font-size: 16px;">Recupera la teva contrasenya</a>
          </span>
        </form>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />

    {% load static %}
    <script src="{% static 'js/handleLogCreation.js' %}"></script>
    {% load static %}
    <script src="{% static 'js/landing_page.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#searchInput").autocomplete({
          source: "{% url 'autocomplete' %}", // Asegúrate de que esta URL es correcta
          minLength: 3, // Número mínimo de caracteres antes de que el autocompletado se active
          select: function (event, ui) {
            $("#searchInput").val(ui.item.value); // Actualiza el valor del input
            return false;
          },
        });

        const testPasswordOk = (password) => {
          return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,16}$/.test(
            password
          );
        };

            loginForm = document.getElementById("login-form");
          
            loginForm.addEventListener('submit', (ev) => {
              ev.preventDefault();
              const password = document.getElementById("password").value;
      
              if (testPasswordOk(password)) loginForm.submit()
              else {
                notify("error", 'Usuari o contrasenya incorrecta', $(".right-block h2"))
              }
            })
        });
    </script>

    {% if error %}
    <script>
      notify("error", "{{ errorMsg }}", $(".right-block h2"))
    </script>
    {% endif %}
        
</body>
</html>
