input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

/* LANDING PAGE */

.landing_page,
.landing_page html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
}

.left-block {
  flex: 1; /* Bloque izquierdo ocupa el 50% */
  padding: 30px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.left-block form,
.left-block h2 {
  width: 90%; /* Ancho máximo del formulario y del título */
  text-align: center;
}

.left-block .input-group {
  margin-bottom: 30px; /* Espacio entre elementos */
  border-radius: 10px;
  width: 60%;
}

.left-block .input-group label {
  display: block;
  margin-bottom: 10px; /* Espacio entre etiqueta y campo de entrada */
  font-size: 18px; /* Tamaño del texto */
}

.left-block .input-group #disponibleslabel {
  width: 147px;
}

.left-block .input-group #disponiblesCheckbox {
  width: 50px;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -51px;
  left: -97px;
}

.left-block .input-wrapper {
  position: relative;
}

.left-block .input-group input {
  width: 379px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  margin-left: -43px;
}

.left-block .input-group input:focus {
  outline: none;
  border-color: #4caf50;
}

.left-block .lupa-icon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  pointer-events: none;
}

.left-block .btn {
  padding: 15px 30px; /* Tamaño del botón */
  font-size: 18px; /* Tamaño del texto del botón */
  background-color: white;
  color: #4caf50;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Espacio entre el último campo de entrada y el botón */
}

.left-block .btn:hover {
  background-color: #45a049;
}

.div1-leftblock,
.div2-leftblock {
  display: block;
  /* Ajusta el ancho según sea necesario */
  width: 100%;
}

.div2-leftblock {
  margin-top: 24px;
}

.right-block {
  box-sizing: border-box;
  flex: 1; /* Bloque derecho ocupa el 50% */
  padding: 30px;
  background-color: #4caf50;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

.right-block form,
h2 {
  width: 70%; /* Ancho máximo del formulario y del título */
}

.input-group {
  margin-bottom: 30px; /* Aumenta el espacio entre elementos */
  border-radius: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 10px; /* Aumenta el espacio entre etiqueta y campo de entrada */
  font-size: 18px; /* Aumenta el tamaño del texto */
}

.input-group input {
  width: 100%;
  padding: 15px; /* Aumenta el tamaño del campo de entrada */
  font-size: 16px; /* Aumenta el tamaño del texto */
  border-radius: 10px;
  border: 1px solid #ccc;
}

.input-group input:focus {
  outline: none;
  border-color: #4caf50;
}

.input-group #tipus {
  width: 576px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #4caf50;
}

.btn {
  padding: 15px 30px; /* Aumenta el tamaño del botón */
  font-size: 18px; /* Aumenta el tamaño del texto del botón */
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* Agrega un espacio entre el último campo de entrada y el botón */
}

/* Atocompletar */
.ui-autocomplete {
  max-height: 120px;
  padding-right: 20px;
  border: 1px solid #ccc;
  z-index: 1000; /* asegura que la lista esté sobre otros elementos */
  width: 100px;
}
.ui-menu-item-wrapper {
  padding: 2px 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.ui-menu-item-wrapper:hover {
  background-color: #f4f4f4;
}

/* Bonton buscar catalogo */
.searchButton {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 7px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  height: 39px;
}

.searchButton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.searchButton-3:hover {
  background-color: #2c974b;
}

.searchButton:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.searchButton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.searchButton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}
.formCatalogo {
  display: contents;
  align-items: center;
}
.formCatalogo input {
  flex-grow: 1;
  margin-right: 10px;
  width: 300px;
}
.checkCatalogo {
}

/*  GENERAL_DASHBARD, ADMIN_DASHBOARD, CHANGE_PASS, SEARCH_RESULTS HEADER */
/* Estilos adicionales para la imagen del usuario y el menú desplegable */
.headerWithUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #45a049;
  position: fixed; /* Agrega posición relativa al contenedor principal */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

.headerWithUser .user-info {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mueve el contenedor de usuario (user-info) hacia la derecha */
  position: relative; /* Añade posición relativa al contenedor de usuario */
}

.headerWithUser .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.headerWithUser .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px 10px 10px 10px; /* Aplica el radio de borde solo a las esquinas superiores */
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: calc(100% + 10px);
  right: 0;
  text-align: left;
}

.headerWithUser .dropdown-content .ALogOut {
  background-color: #f199aa;
  margin-bottom: 10px;
  color: red;
}
.headerWithUser .dropdown-content p {
  font-weight: bold;
  color: black;
}

.headerWithUser .dropdown-content a {
  color: black;
}

.headerWithUser .dropdown-content a,
p {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.headerWithUser .dropdown-content .ALogOut:hover {
  background-color: lightcoral;
}

/* .headerWithUser:hover .dropdown-content { */
  /* display: block; Muestra el dropdown al pasar el ratón sobre el contenedor de usuario */
/* } */

.dropdown-content.show {
  display: block;
}

#usuarios-container {
  margin-top: 50px;
}

/* HEADER NO ADMIN */

.headerNoAdmin {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #45a049;
  position: relative; /* Agrega posición relativa al contenedor principal */
}

.headerNoAdmin .user-info {
  display: flex;
  align-items: center;
  margin-left: auto; /* Mueve el contenedor de usuario (user-info) hacia la derecha */
  position: relative; /* Añade posición relativa al contenedor de usuario */
}

.headerNoAdmin .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.headerNoAdmin .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border-radius: 10px 10px 10px 10px; /* Aplica el radio de borde solo a las esquinas superiores */
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: calc(100% + 10px);
  right: 0;
  text-align: left;
}

.headerNoAdmin .dropdown-content p {
  font-weight: bold;
  color: black;
}

.headerNoAdmin .dropdown-content a,
p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.headerNoAdmin .dropdown-content .ALogOut {
  background-color: #f199aa;
  margin-bottom: 10px;
  color: red;
}

.headerNoAdmin .dropdown-content .ALogOut:hover {
  background-color: lightcoral;
}

.headerNoAdmin:hover .dropdown-content {
  display: block; /* Muestra el dropdown al pasar el ratón sobre el contenedor de usuario */
}

/* GENERAL_PROFILE & ADMIN_PROFILE*/

.profile,
.profile html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #45a049; /* Borde inferior del mismo color verde */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajustar la altura al 100% de la pantalla */
}

.user-form {
  width: 60%;
  max-width: 540px;
  margin-top: -200px;
  display: inline-grid;
  justify-content: center;
  align-items: center;
}

.user-form #cognoms {
  margin-left: 20px; /* Agregar espacio entre el input #nom y el input #cognoms */
}

.user-form #label_cognoms {
  margin-left: 20px; /* Agregar espacio entre el input #nom y el input #cognoms */
}

.user-form h2 {
  margin-bottom: 20px;
  font-size: 70px;
  width: 100%;
}

.user-form #h2admin {
  margin-bottom: 20px;
  font-size: 35px;
  width: 100%;
}

.user-form .input-group {
  margin-bottom: 20px;
  margin-top: 20px;
}

.user-form .input-group .half-width {
  width: calc(50% - 5px);
  display: inline-block;
}

.user-form label {
  display: block;
  margin-bottom: 10px;
}

.user-form input {
  width: calc(
    100% - 22px
  ); /* Considera el padding y el borde al calcular el ancho */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #4caf50; /* Color del borde */
}

.user-form #imatge_perfil {
  border: none;
  width: auto;
  margin-inline: auto;
  width: 120px;
}

.user-form .img_gnrl_prof {
  margin-top: 20px;
  border-radius: 50%; /* Hace que la imagen sea redonda */
  width: 180px;
  margin-inline: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-bottom: 30px;
}

.email-placeholder,
.correu-placeholder,
.nom-placeholder {
  width: calc(100% - 22px);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 2px solid #4caf50;
}

.email-placeholder {
  width: 533px;
}

.user-form button {
  width: 40%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-form button:hover {
  background-color: #45a049;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Espacio entre los botones y el resto del formulario */
}

.left-button {
  width: calc(50% - 5px);
  border-radius: 10px;
}

.right-button {
  width: calc(50% - 5px);
  margin-left: 20px; /* Margen izquierdo para separar los botones */
  margin-top: 12px;
}

/* CHANGE_PASS */

.change-pass-dashboard,
.change-pass-dashboard html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.change-pass-header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 30px;
  border-bottom: 2px solid #4caf50;
}

.change-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.change-pass-user-form {
  width: 60%;
  max-width: 540px;
  margin-top: -150px;
}

.change-pass-container h2 {
  margin-bottom: 60px;
  font-size: 70px;
  width: 100%;
}

.change-pass-input-group {
  margin-bottom: 20px;
}

.change-pass-input-group label {
  display: block;
  margin-bottom: 10px;
}

.change-pass-input-group input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #4caf50;
}

.change-pass-left-button {
  width: 200px; /* Ancho personalizado */
  padding: 12px; /* Padding personalizado */
  background-color: #4caf50;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid #4caf50;

  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto; /* Margen automático a los lados para centrarlo */
  display: block; /* Hace que el botón se muestre como un bloque */
}

.change-pass-left-button:hover {
  background-color: #45a049;
}

/* general_dashboard & ADMIN_DASHBOARD */

.general_dashboard,
.general_dashboard html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  height: 2974px;
  width: 250px;
  padding-top: 50px;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  z-index: 1000; /* Asegura que la barra lateral esté en la parte superior */
}

.sidebar ul.nav.flex-column {
  padding-left: 20px;
  margin-top: 50px;
}

.container-fluid {
  margin-top: 102px; /* Ajusta según el tamaño del encabezado */
}

.sidebar .nav-link {
  font-size: 16px;
  padding: 10px;
  color: #495057;
  transition: all 0.3s ease;
}

.container-fluid .col-md-2 d-none d-md-block bg-light sidebar {
  height: 500px;
}

.sidebar .nav-link:hover {
  background-color: #e9ecef;
  color: #212529;
}

.importbutton {
  appearance: none;
  width: 30%;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.importbutton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.importbutton-3:hover {
  background-color: #2c974b;
}

.importbutton:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.importbutton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.importbutton:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* Personalizar estilos del contenido principal */
.main-content {
  padding: 20px;
}

/* CREATE_USER.HTML */
.CREATE_USER {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container_CREATE_USER {
  width: 60%;
  max-width: 540px;
  margin: 50px auto;
}

.container_CREATE_USER h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#user-form {
  margin-top: 20px;
}

#user-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#user-form select {
  width: 576px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #4caf50;
}

#user-form input[type="text"],
#user-form input[type="date"],
#user-form input[type="email"],
#user-form input[type="password"] {
  width: 550px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #4caf50;
}

#user-form .inp_create_user {
  width: 300px !important;
  margin-left: 130px;
}

#user-form input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#user-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos de search_results.html */
#search-results {
  margin: 0;
  padding: 0;
}

#search-results .search-section {
  margin-inline: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-results .search-section > details {
  width: 400px;
}

#search-results .search-section > details > div {
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: 1fr 1fr 1fr auto;
}

#search-results .search-section > details > div > .type-filters {
  grid-row: 1 / 4;
  padding-block: auto;
  justify-content: center;
}

#search-results .search-section > details .any-filters {
  grid-column: span 2;
  display: grid;
  place-content: center;
}

.custom-search > input {
  padding: 10px 12px;
  padding-right: 31px;
  border: 2px solid #4d8434;
  width: 400px;
  border-radius: 12px;
  font-size: 14px;
  outline: none;
}

.custom-search > input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.custom-search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-search > i {
  position: absolute;
  right: 13px;
  top: 65%;
  transform: translateY(-50%);
  color: #4d8434;
}

#search-results .results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

#search-results .type-filters {
  display: flex;
  flex-direction: column;
}

calendar-range {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
calendar-range::part(button) {
  border-radius: 5px;
  background-color: #4d8434;
  border: 1px solid #4d8434;
  padding: 3px;
}
calendar-month::part(button) {
  border-radius: 5px;
}
calendar-month::part(selected) {
  background-color: #4d8434;
}
calendar-month::part(range-inner) {
  border-radius: 0;
}
calendar-month::part(range-start) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}
calendar-month::part(range-end) {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}
calendar-month::part(range-start range-end) {
  border-radius: 5px;
}

span:has(> #total-resultats) {
  font-size: 18px;
  font-weight: 400;
  margin-left: 15px;
}

[disabled] {
  cursor: not-allowed;
}

[type="checkbox"] {
  accent-color: #4d8434;
}

fieldset[class$="-filters"]:not(.type-filters):not(.any-filters) {
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-message {
  color: red; /* Color rojo para el mensaje de error */
  margin-top: 10px; /* Espacio sobre el mensaje */
}

/* Importacion */

.importacion html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  justify-content: center;
}

.registroImportacion {
  width: 75%;
  padding: 12%;
  margin-left: 13%;
  margin-right: 10%;
  border-style: double;
  border-radius: 10px;
  border-color: #298e46;
}

.listaImportados {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  display: inline-block; /* Hace que el ul se comporte como un elemento inline-block */
  width: calc(
    100% - 24%
  ); /* Ajusta el ancho del ul al 100% menos el padding del div */
  overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
}

.añadirCSV {
  margin-bottom: 2%;
  margin-left: 38%;
}

.tituloCSV {
  margin-top: 8%;
  margin-left: 42%;
}

.importbutton {
  margin-left: 40px;
}


#admin_prestecs {
  overflow: hidden;
}

#admin_prestecs {
  overflow-y: auto !important;
}